* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', 'Poppins', sans-serif;
}

header {
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    background: #270D5C;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}

header img {
    width: 7%;
    padding: 1px;
    margin: 1px;
}

header h1 {
    margin: 5px;
    padding: 5px;
    font-size: 300%;
    font-weight: bold;
    color: #FFFF;

}

header a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-grow: 2;
    justify-content: space-evenly;
    overflow: hidden;
    font-size: 200%;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: auto;
    transition-duration: 0.4s;
}

.dropdown {
    float: left;
    overflow: hidden;
    transition-duration: 0.4s;
}

.dropdown .dropbtn {
    font-size: 100%;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    transition-duration: 0.4s;
}

.navbar a:hover, .dropbtn:hover {
    text-shadow: #dddddd 1px 1px 5px;
    transition-duration: 0.2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    transition-duration: 0.4s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: 0.4s;
}

.dropdown-content a:hover {
    background-color: #ddd;
    transition-duration: 0.4s;
    font-size: 120%;
}

.dropdown:hover .dropdown-content {
    transition: display 0.4s;
    display: block;
    transition-duration: 0.4s;
}

.footer {
    font-family: 'Rajdhani', sans-serif;
    border-top: 2px solid black;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    margin-top: 50px ;
    margin-bottom: 50px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: #270D5C;
    color: white;
    padding: 50px;
}

.footer-item {
    display: flex;
    flex: 1;
    min-width: 33.33%;
    justify-content: center;
    align-items: center;
}
.footer-content h2 {
    font-size: 300%;
}

.footer-content h3 {
    padding: 5px 5px 5px 0;
    margin: 5px 5px 5px 0;
}

.footer-left {
    flex-direction: row;
}

.footer-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left img {
    width: 30%;
    flex: 0 0 auto;
}

.footer-middle {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: white;
}

.footer-middle a, .footer-right a {
    text-decoration: none;
    color: white;
}

.footer-middle a:hover, .footer-right a:hover {
    text-decoration: underline;
}
.footer-right {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: white;
}

.footer-right-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    margin: 2px;
}

.footer-right-item img {
    max-width: 100%;
    padding: 0 3px 2px 2px;
    margin: 0 3px 2px 2px;
}
